name: Publish 'Memento' Test

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Art des Releases'
        required: true
        default: 'release'
        type: choice
        options:
          - Release
          - Alpha
      newVersionTag:
        description: 'Optional: neuer Tag'
        required: false
      oldVersionTag:
        description: 'Optional: alter Tag'
        required: false
      buildRetail:
        description: 'Retail-Version'
        required: false
        default: true
        type: boolean
      buildClassic:
        description: 'Classic-Version'
        required: false
        default: true
        type: boolean
      buildCata:
        description: 'Cata-Version'
        required: false
        default: true
        type: boolean
      createChangelog:
        description: 'vollständiges Changelog'
        required: false
        default: true
        type: boolean

permissions:
  contents: write

jobs:
  prework:
    name: Prework
    runs-on: ubuntu-latest
    env:
      G_TOKEN: ${{ secrets.G_TOKEN }}
      GITHUB_REPOSITORY: ${{ github.repository }}
    outputs:
      last-release-tag: ${{ steps.tag.outputs.last_release_tag }}
      last-tag: ${{ steps.tag.outputs.last_tag }}
      new-tag: ${{ steps.tag.outputs.new_tag }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bestimmme alte Git-Tags und definiere einen neuen Git-Tag
        id: tag
        run: |
          eval "$(python3 script/tag.py ${{ github.event.inputs.release-type }})"
          echo "last_release_tag=$LAST_RELEASE_TAG" >> $GITHUB_OUTPUT
          echo "last_tag=$LAST_TAG" >> $GITHUB_OUTPUT
          echo "new_tag=$NEW_TAG" >> $GITHUB_OUTPUT

      - name: Setze und pushe Git-Tag
        run: |
          python3 script/tag_push.py ${{ steps.tag.outputs.new_tag }} "Release ${{ steps.tag.outputs.new_tag }}"
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: prework
    env:
      CF_PROJECT_ID: ${{ vars.CF_PROJECT_ID }}
      WAGO_PROJECT_ID: ${{ vars.WAGO_PROJECT_ID }}
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 100

      - name: Get current tags
        run: |
          git fetch --tags

      - name: Erzeuge zufällige Lua-Datei
        run: |
          FILE="Test$RANDOM.lua"
          echo "-- Automatisch generiert" > "$FILE"
          echo "print('Testdatei: $FILE')" >> "$FILE"
          echo "Erstellt: $FILE"

      - name: Package Retail
        if: github.event.inputs.buildRetail == 'true'
        run: |
          bash script/packager.sh --version ${{ needs.prework.outputs.new-tag }} --game retail

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get current tags
        run: |
          git fetch --tags

      - name: Erzeuge zufällige Lua-Datei
        run: |
          FILE="Test$RANDOM.lua"
          echo "-- Automatisch generiert" > "$FILE"
          echo "print('Testdatei: $FILE')" >> "$FILE"
          echo "Erstellt: $FILE"

      - name: Package Classic
        if: github.event.inputs.buildClassic == 'true'
        run: |
          bash script/packager.sh --version ${{ needs.prework.outputs.new-tag }} --game classic

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Package Cata
        if: github.event.inputs.buildCata == 'true'
        run: |
          bash script/packager.sh --version ${{ needs.prework.outputs.new-tag }} --game cata